---
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import ChargeSection from "../components/ChargeSection.astro";
import Accesorios from "../components/Accesorios.astro";
import Powerwall from "../components/Powerwall.astro";
import Enjoyment from "../components/Enjoyment.astro";
import ModeX from "../components/ModeX.astro";
---

<Layout title="Tesla - El coche de tu sueño.">
	<LandingHeader />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ModeX />
		</div>
		<div class="snap-center">
			<Enjoyment />
		</div>
		<div class="snap-center">
			<Powerwall />
		</div>
		<div class="snap-center">
			<Accesorios />
		</div>
	</main>
</Layout>
