---
import Section from "../components/Section.astro";
---

<Section
    title="Disfrute de testla"
    subtitle="Programe una prueba de condición hoy mismo"
    color="white"
>
    <div slot="footer">
        <a
            class="border-[3px] border-white rounded font-medium text-white px-10 py-2 inline-block hover:bg-white hover:text-black transition-colors"
            href="#">Prueba de conducción</a
        >
    </div>
    <video
        slot="background"
        autoplay
        muted
        loop
        src="/Drive-Desktop.webm"
        class="h-full w-full object-cover object-center"></video>
</Section>
