---
import Section from "../components/Section.astro";
---

<Section
    title="Model 3"
    color="black"
>
    <div slot="footer" class="gap-x-6 flex  mx-auto">
        <a
            class="border-[3px] border-gray-950 bg-gray-950 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:border-gray-900 hover:bg-gray-900 transition-colors"
            href="#">Pedido personalizado</a
        >
        <a
            class="border-[3px] border-white rounded text-sm font-medium text-black px-12 py-2 inline-block bg-white hover:bg-gray-200 hover:border-gray-200 transition-colors"
            href="#">Prueba de conducción</a
        >
    </div>
    <img
        slot="background"
        src="/Model-3.avif"
        alt="Model 3"
        class="h-full w-full object-cover object-center"
    />
</Section>

